<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zybooks.manageinventory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InformationActivity"></activity>
        <activity
            android:name=".UserPermission"
            android:label="User Permission" />
        <activity
            android:name=".UpdateItem"
            android:parentActivityName=".DisplayInventory" />
        <activity
            android:name=".AddItem"
            android:label="Add New Item"
            android:parentActivityName=".DisplayInventory" />
        <activity
            android:name=".DisplayInventory"
            android:label="Inventory List" />
        <activity
            android:name=".CreateAccount"
            android:label=" Create Account" />
        <activity
            android:name=".MainActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>